

div {
	width: 95%;
	border: 0.5px gray solid;
	background-color: rgb(240,240,240);
	padding: 8px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

input[type=email]{
	width: 95%;
	border-radius: 5px;
	padding: 8px;
	font-size: 20px;
	margin-bottom: 8px;
}

input[type=password]{
	width: 95%;
	background-color: white;
	border-radius: 5px;
	padding: 8px;
	font-size: 20px;
	margin-bottom: 8px;
}

input[type=submit]{
	width: 97%;
	background-color: rgb(0, 128, 43);
	color: white;
	border-radius: 15px;
	padding: 10px;
	font-size: 18px;
	border: 1px solid silver;
}